* {
  box-sizing: border-box;
  font-weight: bold;
  margin: 10;
  padding: 10;
}

body {
  background: #000;
  color: #fff;
  font-family: "darker grotesque";
  font-size: 40px;
  padding: 20px;
}

.game-container {
  background-color: #000;
  width: 484px;
}

.game-panel {
  background-color: #000;
}

.score {
  font-size: 32px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.game-board {
  border: 2px solid #000;
  margin-bottom: 4px;
  position: relative;
}

h1 {
  color: #fff;
  font-size: 50px;
  margin-bottom: 10px;
}

.stack-btn {
  background: #fff;
  border: solid 1px #fff;
  font-size: 24px;
  margin-top: 10px;
  padding: 8px 0 8px 0;
  text-transform: uppercase;
  width: 100%;
}

.stack-btn:hover {
  background: #000;
  border: solid 1px #fff;
  color: #fff;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 360px;
}

.cell {
  border: 1px dashed #fff;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.bar {
  background: #55e1ff;
  border: 1px solid #000;
  border-radius: 4px;
}

.game-over-screen {
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 16px;
}

.game-over-text {
  background: #000;
  font-family: "Press Start 2p";
  font-size: 48px;
  text-transform: uppercase;
}

.win {
  background: #000;
}

.play-again {
  background: #fff;
  border: solid 1px #fff;
  font-family: "darker grotesque";
  font-size: 24px;
  padding: 4px 20px 8px 20px;
  text-transform: uppercase;
}

.hidden {
  display: none;
}
